body {
    background-image: url('space4.jpg');
    position: relative;
    width: 1366px;
    height: 700px;
    overflow-y: scroll;
    background-size: cover;
}
.ACpic {
    display: inline-block;
    width:  5%;
    margin-top: 5%;
    margin-left: 5.5%;
  }
h1 {
    position: absolute;
   display: inline-block;
   margin-left: 7%;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 900;
   font-size: 130%;
   line-height: 22px;
   text-align: center;
   letter-spacing: 0.02em;
   margin-top: 3%;
   color: #F7F7F7;
   }
   
    nav {
        text-align: right;
        margin-right: 5%;
    }
   
    .border {
       position: absolute;
       width: 100%;
       height: 90%;
       left: 64px;
   
       top: 56px;
       
       border: 1px solid #FFFFFF;
       box-sizing: border-box;
       border-radius: 50px;
       margin-top: -1%;
       margin-bottom:2%;
    }
    nav a {
        display: inline-block;
        padding: 2%;
        font-family: Spartan;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 22px;
   letter-spacing: 0.02em;
   color: #FAFBFC;
   text-decoration: none;
   margin-top: 1.7%;
   left: 980 px;
    }
    h2 {
        text-align: center;
        color: #F7F7F7;
        font-weight: 500;
        font-size: 50px;
        margin-top: 8%;
        border-bottom: bisque;
        border-bottom-width: 7px;
        font-family: Spartan;
    }
    form {
        color: #F7F7F7;
        text-align: center;
        font-size: 20px;
    }
    .email {
        padding: 0%;
    }
    .button {
        padding: 1%;
        font-size: 15px;
        padding: 2%;
        font-family: Spartan;;
    }
    p {
        color: #F7F7F7;
        text-align: center;
        font-size: 20px;
        margin-top: -1%;
        font-family: Spartan;
    }
    input[type=text] {
        border: 2px solid black;
        border-radius: 4px;
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-align: center;
        font-family: Spartan;
      }
      input[type=text]:focus {
        background-color: lightblue;
      }
      input[type=submit] {
      background-image: -webkit-linear-gradient(rgb(231, 231, 231),rgb(90, 188, 221));
      border: none;
      color: black;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 8px;
      cursor: pointer;
      border-radius: 5px;
      padding: 1% 5%;
      font-size: 30 px;
      font-weight: bold;
      letter-spacing: 2px;
      font-family: Spartan;
    }
    input[type=submit]:focus {
background-color: rgb(26, 26, 241);
    }
    .container {
        width: 500px;
        clear: both;
        margin-left:32%;
        margin-top: 6%;
        font-family: Spartan;
      }
      
      .container input {
        width: 100%;
        clear: both;
        font-family: Spartan;
      }
form {
    text-align: center;
    margin-top: -4%;
    font-family: Spartan;
}

input[type=text]:focus {
    background-color: rgb(201, 201, 201);
  }
  input[type=submit]:focus {
    background-color: cornsilk;
  }  
  .community:active, .home:active, .login:active {
    color: rgb(207, 121, 247);
  }
.community:hover, .home:hover, .login:hover {
  color: rgb(207, 121, 247);
}
   
