body {
  background-image: url('space3.jpg');
  position: relative;
  width: 1366px;
  height: 700px;
  overflow-y: scroll;
  background-size: cover;
}
.search {
  padding: 1%;
  border-radius: 20px;
  width: 10%;
  margin-right: 3%;
}
h1 {
  position: absolute;
  display: inline-block;
  margin-left: 7%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 130%;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 3%;
  color: #F7F7F7;
}

nav {
  text-align: right;
  margin-right: 5%;
}

.border {
  position: absolute;
  width: 100%;
  height: auto;
  left: 64px;
  top: 56px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px;
  margin-top: -1%;
  margin-bottom: 2%;
}

nav a {
  display: inline-block;
  padding: 2%;
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FAFBFC;
  text-decoration: none;
  margin-top: 1.3%;
  left: 980 px;
}
.ACpic {
  display: inline-block;
  width:  5%;
  margin-top: 5%;
  margin-left: 5.5%;
}
h2 {
  position: absolute;
  width: 599px;
  height: 144px;
  left: 80px;
  top: 298px;
  margin-left: 20%;

  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
  margin-top:-4%;
  text-align: center;

}

.polaroid a {
  float: left;
  spacing: auto;
  height: 415px;
  background: #FFFFFF;
  display: inline-block;
  margin-top: 20%;
  margin-left: 15%;
  /*  padding: 15px 15px 30px;*/
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: center;
  text-decoration: none;
  font-family: sans-serif;
}

.polaroid a:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}
.tit {
  text-decoration-color: black;
  font-size: 30px;
  text-align: center;
  color: black;
  margin-top: auto;
  margin-bottom: 2%;
}
p{
  margin-top: 1.5%;
  color: black;
  font-size: 17px;
text-decoration: none;
}

.polaroid img {
  display: block;
  width: 350px;

  border-radius: 20px;
}

.polaroid a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}
.polaroid a.pic3
{
  margin-top: 10%;
}
.polaroid a.pic4
{
  margin-top: 10%;
}
.polaroid a.pic5
{
  margin-top: 10%;
}
.polaroid a.pic6
{
  margin-top: 10%;
}
.community:active, .home:active, .login:active {
  color: rgb(207, 121, 247);
}
.button {
  font-size: 15px;
  display: block;
  margin-top: 140%;
 text-align: center;
 background-color: transparent;
 border: 3.5px solid #FFFFFF;

 color: black;
padding: 1% 3%;
border-radius: 20px;
width: 20%;
/*margin-top: 10px;*/
margin-left: 37%;
margin-bottom: 3%;
box-shadow: 0 6px 6px /*rgba(0, 0, 0, 0.6);*/

/*background-image: -webkit-linear-gradient(rgb(218, 0, 0),rgb(122, 0, 0));

*/
}
.roverrental {
font-size: 150%;
text-decoration: none;
color: white;
filter: drop-shadow(0px 9px 9px rgba(14, 6, 6, 0.25));
font-family: Spartan;
}
.community:hover, .home:hover, .login:hover {
  color: rgb(207, 121, 247);
}
 .tit {
  text-decoration: underline;
}

/*
text-align: center;
color: #F7F7F7;
font-weight: 450;
font-size: 40px;
margin-top: 4%;
border-bottom: bisque;
border-bottom-width: 7px;
;
